<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Events list</title>
</head>
<body>
<form method="post" th:action="@{today}">
    <h1> Заполняем результат за [[${#dates.createNow()}]]</h1>
    <ul>

            <li th:each="customer:${customers}">
                <label th:text = "${customer.name}"></label>
                <input type ="checkbox" th:name = "${customer.id}"/>
            </li>

    </ul>
    <input type="submit"/>
</form>
</body>
</html>